/*.container.certificates__container{
    width: 40%;
}

.certificate__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.certificate{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    user-select: none;
}

/* Media Queries(Medium devices)*/
@media screen and (max-width: 1024px){
    .container.certificates__container{
        width: 60%;
    }
}

/* Media Queries(Small devices)*/
@media screen and (max-width: 600px){
    .container.certificates__container{
        width: var(--container-width-sm);
    }
    
}